<mat-form-field>
  <div>
    <mat-toolbar>
      <!-- Display files names -->
      <input matInput [(ngModel)]="fileAttr" readonly name="name" />

      <!-- Browse Button -->
      <button mat-flat-button color="primary">
        Browse File
      </button>
    </mat-toolbar>

    <!-- Fetch selected filed on change -->
    <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
           accept=".pdf" />
  </div>
</mat-form-field>
<div class="files-to-upload">
  <mat-card *ngFor="let file of fileMap">
    <button mat-icon-button (click)="uploadSingle(file.value)">
      <mat-icon>
        file_upload
      </mat-icon>
    </button>
    {{ file.key }}
  </mat-card>
  <mat-card *ngIf="fileMap.length > 0">
    <button mat-icon-button (click)="uploadAll()">
      <mat-icon>
        file_upload
      </mat-icon>
    </button>
    Upload All
  </mat-card>
</div>
