<h2>Document {{ document.name }}</h2>
<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <div>
    <div>
      <label>id:</label>
      <div><input type="text" [readOnly]="true" formControlName="id"></div>
    </div>
    <div>
      <label>name:</label>
      <div><input type="text" formControlName="name" placeholder="name"></div>
    </div>
    <div>
      <label>date:</label>
      <div><input type="text" formControlName="date" placeholder="date"></div>
    </div>
    <div>
      <label>category:</label>
      <div><app-category-selector (selectionChanged)="selectCategory($event)"></app-category-selector></div>
    </div>
  </div>
  <div>
    <label>file:</label>
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
