<h2>Category: {{ category.abbreviation }} | {{ category.name }}</h2>
<div>
  <div>
    <label for="id">id:</label>
    <div>
      <input class="input is-primary" id="id" type="text" value="{{ category.id }}" [disabled]="true">
    </div>
  </div>
  <div>
    <label for="name">name:</label>
    <div>
      <input class="input is-primary" id="name" type="text" [(ngModel)]="category.name" placeholder="Tag name">
    </div>
  </div>
  <div>
    <label for="short">short:</label>
    <div>
      <input class="input is-primary" id="short" type="text" [(ngModel)]="category.abbreviation" placeholder="Tag short description">
    </div>
  </div>
  <div>
    <button class="button" *ngIf="isCreating" (click)="saveCategory()">Create</button>
    <button class="button" *ngIf="!isCreating" (click)="saveCategory()">Update</button>
  </div>
</div>
