<h2>Category: {{ category.abbreviation }} | {{ category.name }}</h2>
<div>
  <div>
    <label for="id">id:</label>
    <div>
      <input id="id" type="text" value="{{ category.id }}" [disabled]="true">
    </div>
  </div>
  <div>
    <label for="name">name:</label>
    <div>
      <input id="name" type="text" [(ngModel)]="category.name" placeholder="Tag name">
    </div>
  </div>
  <div>
    <label for="short">short:</label>
    <div>
      <input id="short" type="text" [(ngModel)]="category.abbreviation" placeholder="Tag short description">
    </div>
  </div>
  <div>
    <input *ngIf="isCreating" type="button" value="Create" (click)="saveCategory()">
    <input *ngIf="!isCreating" type="button" value="Update" (click)="saveCategory()">
  </div>
</div>
