<div class="edit-page">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Document display name</mat-label>
      <input #docdisplay matInput [(ngModel)]="currentDocument.displayName" name="displayName">
    </mat-form-field>

    <app-autocomplete placeholder="Select category or create a new one"
                      label="Categories"
                      [selectedItem]="currentDocument.category"
                      [options]="categories"
                      (selectionChange)="handleCategoryBlur($event)">
    </app-autocomplete>

    <mat-form-field class="example-full-width">
      <mat-label>Company/Sender of document</mat-label>
      <input #doccompany matInput [(ngModel)]="currentDocument.company" name="company"
             (blur)="handleCompanyBlur($event)">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Date on document</mat-label>
      <input #docdate matInput type="date" value="{{ formatDate(currentDocument.dateOfDocument) }}"
             [(ngModel)]="dateOfDocument" name="dateOfDocument" (blur)="handleDateBlur($event)">
    </mat-form-field>


    <app-chips placeholder="Select multiple tags or create new ones" label="Tags" [items]="currentDocument.tags"
               [options]="tagsDatasource"></app-chips>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea rows="5" #docdesc matInput
                placeholder="A brief description of the document">{{ currentDocument.description }}</textarea>
    </mat-form-field>


    <p>
      <span>
        <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
      </span>
      <span>
        <button mat-raised-button color="primary" (click)="save()" *ngIf="!isSaving">
          Save
        </button>
      </span>
    </p>
    <br>
    <br>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Miscellaneous information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input #docid matInput value="{{currentDocument.id}}" name="id" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Document name</mat-label>
          <input #docname matInput value="{{currentDocument.name}}" name="name" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Physical document name/Blob path</mat-label>
          <input #docphysname matInput value="{{currentDocument.physicalName}}" name="physicalName" disabled>
        </mat-form-field>

        <mat-form-field class="example-half-width">
          <mat-label>Folder</mat-label>
          <input #docfolder matInput value="{{currentDocument.folderName}}" name="folderName" disabled>
        </mat-form-field>

        <mat-form-field class="example-half-width">
          <mat-label>Register</mat-label>
          <input #docregister matInput value="{{currentDocument.registerName}}" name="registerName" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Upload date</mat-label>
          <input #docuploaddate type="date" matInput value="{{ formatDate(currentDocument.uploadDate) }}"
                 name="uploadDate" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Unsorted</mat-label>
          <input #docunsorted matInput value="{{ currentDocument.unsorted }}" name="unsorted" disabled>
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div class="pdf-viewer" *ngIf="pdfUrl">
    <object
      [data]="pdfUrl"
      type="application/pdf">

      <iframe
        [src]="pdfUrl">
        <p>This browser does not support PDF!</p>
      </iframe>
    </object>
  </div>
</div>
