<h2>Tag {{ tag.name }}</h2>
<div>
  <div>
    <label>id:</label>
    <div>
      <input type="text" value="{{ tag.id }}" [disabled]="true">
    </div>
  </div>
  <div>
    <label>name:</label>
    <div>
      <input type="text" [(ngModel)]="tag.name" placeholder="Tag name">
    </div>
  </div>
  <div>
    <input class="button is-primary" *ngIf="isCreating" type="button" value="Create" (click)="saveTag()">
    <input class="button is-primary" *ngIf="!isCreating" type="button" value="Update" (click)="saveTag()">
    <input class="button is-danger" *ngIf="!isCreating" type="button" value="Delete" (click)="deleteTag()">
  </div>
</div>
