<h1>Document Library</h1>
<section class="section">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/category">Category</a>
        <a class="navbar-item" routerLink="/document">Document</a>
        <a class="navbar-item" routerLink="/folder">Folders</a>
        <a class="navbar-item" routerLink="/tag">Tag</a>
      </div>
    </nav>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
