.edit-page {
  display: flex;
  flex-direction: row;
  form, div {
    margin-right: 10px;
  }
}

.example-form {
  width: 40vw;
  margin: 2vh 2vw;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 49%;
}

.pdf-viewer {
  width: 40vw;

  object {
    width: 40vw;
    height: 75vh;

    iframe {
      width: 40vw;
      height: 75vh;
    }
  }
}
