<mat-card class="example-card" *ngIf="isVisible">
  <mat-card-header>
    <mat-card-title>{{ (document.name.length > 25) ? (document.name | slice:0:25) + "..." : document.name }}</mat-card-title>
    <mat-card-subtitle>A new document</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Upload Date: <b>{{ formatDate(document.uploadDate) }}</b>
    </p>
    <p>
      <b>{{ document.displayName }}</b>
    </p>
    <p>
      Folder: <b>{{ getFolderName(document.folderName) }}</b><br>
      Register: <b>{{ document.registerName }}</b>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editDocument(document)">EDIT</button>

    <button mat-raised-button color="primary" (click)="downloadAndOpenDocument(document.blobLocation)" *ngIf="isPdfLoading" disabled>
      <mat-spinner diameter="20">
        VIEW PDF
      </mat-spinner>
    </button>
    <button mat-raised-button color="primary" (click)="downloadAndOpenDocument(document.blobLocation)" *ngIf="!isPdfLoading">
        VIEW PDF
    </button>

    <button mat-raised-button color="warn" (click)="changeToDeleteMode(true)" *ngIf="isDeleting && deleteProcessStarted" disabled>
      <mat-spinner diameter="20">
        <mat-icon>done</mat-icon>
        &nbsp;
      </mat-spinner>
    </button>
    <button mat-raised-button color="primary" (click)="changeToDeleteMode(true)" *ngIf="!isDeleting && !deleteProcessStarted">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="deleteDocument(document.id)" *ngIf="isDeleting && !deleteProcessStarted">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
